#!/usr/bin/env bash
echo "Stopping Apache"
systemctl stop {{ instance_name }}
sleep 5
echo "Attepmting to renew certificates"
docker run -i --rm --name certbot -p 443:443  -v /opt/dockerapps/{{ instance_name }}/letsencrypt:/etc/letsencrypt/ {{ certbot_image_name }}:{{ certbot_image_version }} renew
sleep 5
echo "Starting Apache"
systemctl start {{ instance_name }}